
  body{
    background-image: url(https://pbs.twimg.com/profile_images/1648446643895959552/WS3ZY5o6_400x400.jpg);
  }
  

img{
    margin-left: 45%
}

h2{
  margin-left: 40%
};

footer{
  text-align: center;
}

form{
text-align: center;}

div{
    margin: auto;
    width: 50%;
  border: 3px solid rgb(14, 6, 7);
  padding: 10px;
}

